body {
    background-color: #000000;
    color: #ffffff;
    font-family: courier;
    width:50%;
    height: 80%;
    padding: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    font-size:14px;
}

/* #line-height{
    line-height: 30px;
} */

footer{
    margin-top: 50px;
}

#button{
    background: #000000;
    border: none;
    text-decoration: none;
    text-align: right;
    font-family: courier;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

header{
    margin-bottom: 50px;
}

.contacts{
    margin-top: 0px;
}

.contacts a{
    text-decoration: none;
}

.tilde{
    color: #ff0096;
}

.highlight, .contacts a{
    color: #0bc
}

#userName{
    color: #0f0;
}

@media screen and (max-width:1009px){
    body {
        width: 60%;
    }
}

@media screen and (max-width:840px){
    body {
        width: 70%;
    }
}

@media screen and (max-width:730px){
    body {
        width: 80%;
    }
}

@media screen and (max-width:635px){
    body {
        width: 90%;
    }
}

@media screen and (max-width:568px){
    body {
        width: 95%;
    }
}