body {
    background: #aef5a5;
}
#memoryGame {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1em;
    margin: 0;
    justify-content: center;

    /* max-height: 80vh; */
    /* margin-left: 15%; */
    

    /* width: 90vw;
    height: 90vh; */
    /* margin-left: 7%; */
    /* margin-right: 7%; */
}

.card {
    background: url(../images/card_back.png) no-repeat;
    background-size: cover;
    justify-self: center;
    width: 100px;
    height: 170px;
    padding: 20px;
    cursor: pointer;
}
.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

@media screen and (max-width:2600px) {
    #memoryGame {
        max-width: 70vw;
        margin-left: 15%;
    }
}
