.content {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr;
}

.fields {
    justify-self: end;
}

.radioButtons {
    justify-self: start;
    margin-top: 18px;
    grid-column: 2 ;
    grid-row: 1 / span 3;
}

.buttons {
    justify-self: end;
    margin-right: 35px;
    padding-bottom: 10px;
}

#result {
    justify-self: center;
    margin-right: 30px;
    margin-left: 30px;
    grid-column: 1 / span 2;
}

@media screen and (max-width:500px) {
    #result {
        width: 100%;
    }
}